<section class="h-100">
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-10">
       <% if (cartItems) { %>
        <div class="d-flex justify-content-between align-items-center mb-4">
          <h3 class="fw-normal mb-0">Cart</h3>
        </div>
        <% cartItems.products.forEach(product => { %>
          <div class="card rounded-3 mb-4">
          <div class="card-body p-4">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="col-md-2 col-lg-2 col-xl-2">
                <img
                  src="/uploads/<%= product.image %>"
                  class="img-fluid rounded-3"
                  alt="Cotton T-shirt"
                />
              </div>
              <div class="col-md-3 col-lg-3 col-xl-3">
                <p class="lead fw-normal mb-2"><%= product.name %></p>
                <p>
                  <span class="text-muted">Category: </span><%= product.category %> <br>
                  <span class="text-muted">Description: </span><%= product.description %>
                </p>
              </div>
              <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                <button class="btn btn-secondary">-</button>
                 <span class="m-2">1</span>
                <button class="btn btn-secondary">+</button>
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                <h5 class="mb-0">₹ <%= product.price %></h5>
              </div>
              <div class="col-md-1 col-lg-1 col-xl-1"  style="margin-right:20px ;">
                <button onclick="deleteCartProduct('<%= product._id %>')" class="btn btn-danger">Remove</button>
              </div>
            </div>
          </div>
        </div>
      <%  }); %>
       <% }else{ %> 
         <div class="container d-flex justify-content-center">
          <img  src="https://i.pinimg.com/736x/2e/ac/fa/2eacfa305d7715bdcd86bb4956209038.jpg" alt="">
         </div>
        <% } %>
      </div>
    </div>
  </div>
</section>
