<section class="vh-100" >

  <div class="card shadow-none p-4">
    <% if (results.length > 0) { %>
      <h1 class="h2 mb-5">Search Results for "<%= query %>"</h1>
      <% results.forEach(product => { %>
        <div class="row align-items-center">
          <aside class="col-md-3 align-items-center d-flex justify-content-center">
            <a href="/product-details/<%= product._id %>">
              <img src="/uploads/<%= product.images[0] %>" width="200" alt="premium watch">
            </a>
          </aside> <!-- col.// -->
          <div class="col-md-6">
            <div class="info-main">
              <a href="/product-details/<%= product._id %>" class="h5  title"> <%= product.name %></a>
              <p class="mt-4 text-truncate"><%= product.description %></p>
            </div>
          </div>
          <div class="col-12 col-md-3">
            <div class="d-flex align-items-center">
              <span class="h4 mb-0 text-gray text-through me-2 fw-bod ">
                <span class="price">₹</span><%= product.discountedPrice %>
              </span>
              <span class="h6 mb-0 text-decoration-line-through price">₹<%= product.price %></span>
            </div> <!-- info-price-detail // -->
            <span class="text-success small"><span class="fas fa-shipping-fast me-1"></span>Free shipping</span>
            <div class="d-grid gap-2 mt-4">
              <button onclick="addToCart('<%= product._id %>','<%= product.discountedPrice %>')"  class="btn btn-dark">
                Add to cart <i class="fas fa-shopping-cart"></i>
              </button>
              <button onclick="addToWishlist('<%= product._id %>')" class="btn btn btn-outline-danger btn-sm mt-2 "><span class="fa fa-heart me-1"></span>
                Wishlist
              </button>
            </div>
          </div>
        </div>
        <hr>
        <% }) %>
    <% } else { %>
      <div class="container d-flex flex-column flex-column flex-sm-row">
        <h1 class="h2 mb-5">No Results for "<%= query %>"</h1>
        <img src="/images/not-found.jpg" width="500" class="img-fluid" alt="">
      </div>
      <% } %>
  </div>
</section>
<style>
  section {
    margin-top: 80px;
  }
</style>